@{
    Layout = "_Layout";
    ViewData["Title"] = "Zmiana Hasła";
}

<h2>Zmiana Hasła</h2>

<form asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label>Stare Hasło</label>
            <input type="password" name="oldPassword" class="form-control" required />
        </div>
    <div class="form-group">
        <label>Nowe Hasło</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Powtórz Nowe Hasło</label>
        <input type="password" name="confirmPassword" class="form-control" required />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Zmień Hasło</button>
    </div>
</form>

<div>
    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <p style="color:red">@error.ErrorMessage</p>
    }
</div>
